<div class="container panel-body">
  <div class="col-md-12">
    <div class="col-md-8 col-md-offset-2 panel-body">
      <h1>10 Latest posts:</h1>
    </div>

    <% @posts.each do |post| %>

      <div class="col-md-8 col-md-offset-2 panel panel-default panel-body">
        <h4><%= post.body %></h4>
        <p class="date"><i>posted by <b><%= link_to post.user.username, user_path(post.user) %></b> <%= time_ago_in_words(post.created_at) %> ago</i></p>
      </div>

    <% end %>

  </div>
</div>
