<div class="container panel-body">
  <div class="col-md-12">

    <div class="panel-body col-md-8 col-md-offset-2">
      <h1>All the lovely users</h1>
    </div>

    <% @users.each do |user| %>

      <div class="col-md-8 col-md-offset-2 panel panel-default panel-body">
        <h4><%= user.username %></h4>

          <p class="date"><i>last posted <%= time_ago_in_words(user.latest_post.created_at) %> ago</i></p>

      </div>

    <% end %>

  </div>
</div>
