<div class="container">
  <div class="col-md-12">
    <div class="panel-body">
      <h1><%= @user.username %></h1>
    </div>
    <% if @user.has_posts? %>

      <% @user.posts.each do |post| %>
        <div class="panel panel-default panel-body">
          <h3 class="post-body"><%= post.body %></h3>
          <p class="date"><i>posted <%= time_ago_in_words(post.created_at) %> ago</i></p>
        </div>
      <% end %>
    <% else %>
      <div class="container">
        <p><i><%= link_to "Make your first post!", new_post_path %></i></p>
      </div>
    <% end %>
  </div>
</div>
