<div class="container">
  <div class="col-md-6">
    <div class="panel-body panel panel-default add-margin-top">
      <%= image_tag("database_why_u_no_work.jpg", width: "100%") %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-body add-margin-top">
      <h1>N+1 Errors!</h1>
      <p>This is a little app designed to showcase n+1 errors and their resolution.</p>
    </div>

    <div class="panel panel-default panel-body add-margin-top">
      <h2>This app's schema:</h2>
      <%= image_tag("schema.png", width: "80%") %>
    </div>
  </div>
</div>
